<!-- pages/templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h1>About Page</h1>

<div>
  <p>This is about me.</p>
  <p>Here are some facts about me</p>
    <ul>
      <li>I am from Atlanta, GA</li>
      <li>I can play the guitar</li>
      <li>I am majoring in Marketing with a concentration in Marketing Analytics and a minor in Analytics</li>
      <li>I hope to be a Marketing Analyst</li>
      <li>My Great-Grandfather invented the Dumpster in 1935</li>     
    </ul>
</div>

{% endblock content %}
